body{
    background-color: rgb(27, 19, 19);
}
fieldset{
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
   
}
#submit1{
    border-radius: 5px;
    background-color:white;
    font-size: 15px;
}
form{
    padding: 10% 20% 20% 30%;
}